extends layout.pug

block contents
    .h-screen.flex.mx-auto.justify-center.space-x-4
        .flex.flex-col.my-auto
            #8-1-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`8강전 제 1 경기` name='8-1-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-1-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-1-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-1-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-1-b-score' type="number" placeholder="")
            #8-2-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`8강전 제 2 경기` name='8-2-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-2-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-2-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-2-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-2-b-score' type="number" placeholder="")
            #8-3-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`8강전 제 3 경기` name='8-3-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-3-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-3-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-3-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-3-b-score' type="number" placeholder="")
            #8-4-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`8강전 제 4 경기` name='8-4-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-4-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-4-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`` name='8-4-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='8-4-b-score' type="number" placeholder="")
        .flex.flex-col.my-auto.space-y-48
            #4-1-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`4강전 제 1 경기` name='4-1-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`8강전 1 경기 승리팀` name='4-1-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='4-1-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`8강전 2 경기 승리팀` name='4-1-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='4-1-b-score' type="number" placeholder="")
            #4-2-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`4강전 제 2 경기` name='4-2-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`8강전 3 경기 승리팀` name='4-2-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='4-2-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`8강전 4 경기 승리팀` name='4-2-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='4-2-b-score' type="number" placeholder="")
        .flex.flex-col.my-auto
            #f-match.w-full.mt-8.p-4.rounded-xl.shadow-lg.bg-gray-300.text-center.flex.flex-col
                input.rounded-xl.p-3.mb-4.font-bold(value=`결승전` name='f-title' disabled)
                .flex.space-x-4
                        input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`4강전 1경기 승리팀` name='f-a-name')
                        input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='f-a-score' type="number" placeholder="")
                .flex.space-x-4
                    input.rounded-xl.p-3.mb-4.font-bold.flex-1(value=`4강전 2경기 승리팀` name='f-b-name')
                    input.rounded-xl.p-3.mb-4.font-bold.w-20(value=0 name='f-b-score' type="number" placeholder="")
        .flex.flex-col
            button#submitBtn.primary-btn.blue-btn.font-bold.w-full.mt-16  수  정  하  기  
block scripts
    script(src="../public/controller2.js") 